/* ===============================================================
        DEFAULT VALUES;

        Font Family      : Roboto Condensed
        Green Blue       : #34c6d3 ( Buttons, Icons, Links, Lines & Background )
        Steel Gray       : #41464b ( Headings )
        Blue Bayoux      : #64707b ( Paragraphs )
        White            : #fff ( Text with black backgrounds )
        Black            : #000

================================================================*/

/* General CSS */
html, body, #home {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 { text-transform: uppercase; }

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

/*==============================================================
                    HOME
===============================================================*/

#home-cover {
    height: 100%;
    background-image: url(../images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, .5);
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 3px 3px #0c0c0c;
    margin: 20px 0;
}

/*==============================================================
                    PARALLAX ( general )
===============================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*==============================================================
                    BUTTONS ( general )
===============================================================*/

.btn-general {
    border: 2px solid #fff;
    border-radius: 0;
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

/*==============================================================
                    ANIMATE
===============================================================*/

#home-cover, #home-heading, #home-btn { animation-duration: .5s }
#home-cover { animation-delay: .1s; }
#home-heading { animation-delay: .5s; }
#home-btn { animation-delay: 1s; }

/*==============================================================
                    CONTENT BOX (general)
===============================================================*/

.content-box {
    padding: 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}


/*==============================================================
                    SERVICES
===============================================================*/

.service-item {
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item:hover .service-item-icon i{
    color: #fff;
    background-color: #34c6d3;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-description p {
    margin: 0;
    padding-left: 85px;
}

/*==============================================================
                    ABOUT SECTION
===============================================================*/

#about-bg-diagonal {
        width: 55%;
        height: 700px;
        float: right;
        background-image: url(../images/bg-about.jpeg);
        background-position: right;
        border-left: 200px solid #fff;
        border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-description p {
    margin-bottom: 30px;
}

/*==============================================================
                    WORK SECTION
===============================================================*/

.row .no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/*==============================================================
                    TEAM SECTION
===============================================================*/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

.social-list {
    padding-left: 0;
    list-style: none;
}

.social-list li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray {
    color: #64707b;
}

.icon-gray:hover {
    color: #34c6d3;
}

.owl-carousel .owl-item img {
    height: 380px;
}

/*==============================================================
                    TESTIMONIAL SECTION
===============================================================*/

#testimonials-cover {
    background-color: #000;
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 125px;
    max-height: 125px;
    margin: 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    position: relative;
}

.testimonial blockquote p {
    color: #fff;
    padding: 6px 25px;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    content: '\201c';
    top: 0;
    left: 0;
}

.testimonial blockquote::after {
    content: '\201D';
    bottom: 0;
    right: 0;
}

.testimonial-author p {
    color: #fff;
    font-weight: 17px;
}

.testimonial-author p strong {
    display: block;
    margin-bottom: 10px;
}

/*==============================================================
                    PRICING SECTION
===============================================================*/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
    color: #34c6d3;
    background-color: #fff;
}

.pricing-box-lg ul.pricing-specs li p {
    color: #fff;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-specs {
    list-style: none;
    padding: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-specs li p {
    font-weight: 400;
    text-transform: uppercase;
}

/*==============================================================
                    STATS SECTION
===============================================================*/

#stats .content-box {
    background-color: #000;
}

.stats-items {
    padding: 100px 0;
}

.stats-items i {
    color: #34c6d3;
}

.stats-items h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-items p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}
